#cake-menu {
    width: 100vw;
    height: 260vh;
    background-color: #ADD2C2;
}

.menu-logo {
    display: flex;
    justify-content: center;
}

.menu-headers {
    font-size: 4rem;
    height: 3rem;
    display: flex;
    margin-top: -5rem;
    justify-content: center;
    padding: 1rem;
    /* background-color: red; */
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 1.2rem;
}
h4 {
    font-size: 2rem;
}

.menu-logo > img {
    margin-top: -5rem;
    height: 22rem;
}

