#cake-menu {
    width: 100vw;
    height: auto;
    background-color: #EFDED4;
    padding-bottom: 4rem;
}

.menu-logo {
    height: 60vh;
    display: flex;
    justify-content: center;

}

.menu-headers {
    font-size: 4rem;
    height: 3rem;
    display: flex;
    margin-top: -5rem;
    justify-content: center;
    padding: 1rem;
}

.menu-nav {
    height: 4rem;
    display: flex;
    justify-content: center;
}

.menu-item-nav {
    padding: 1rem;
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
}
h4 {
    text-decoration: underline;
    font-size: 2rem;
}

.menu-logo > img {
    margin-top: -5rem;
    height: 22rem;
}
