.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

article.info {
    background-color: #ffe8d6;
    border-radius: 1rem;
    padding: 2rem;
    margin: auto;
    height: 75vh;
    width: 65vw;
}

form {
    display: flex;
    flex-direction: column;
}

.menu-link {
    display: flex;
    justify-content: center;
}

#filling, #cake, #name, #email, #phone, {
    height: 1.5rem;
    margin: .5rem;
}

#submit {
    height: 2rem;
    margin-top: 3rem;
}

.menu {
    margin-left: .2rem;
    text-decoration: underline;
}