#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: .5rem;
  background-color: #ADD2C2;
}

.gallery-nav-container {
  display: flex;
  width: 100%;
  height: 16rem;
  justify-content: center;
  align-items: center;
}

.gallery-nav-item {
  margin-top: -4rem;
  padding: 1rem;
}

img.menu-logo {
  height: 16rem;
  /* margin-right: 61rem; */

}

/* --------Grid container styles---------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* background-color: #d4c685; */
  gap: 2rem;
  padding: 1rem;
  max-width: 90vw;
}

/* Grid item styles */
.grid-item {
  width: 100%;
  height: 100%;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item:hover {
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.enlarged-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 32vw;
  height: 70vh;
}

.enlarged-image {
  max-width: 100%;
  max-height: 100%;
  border: 4px solid white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

  .enlarged-image-container {
    width: 85%;
    height: auto;
  }

  .gallery-nav-container {
    height: 14rem;
    justify-content: center;
    align-items: center;
  }

  .gallery-nav-item {
    padding: .5rem;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img.menu-logo {
    height: 14rem;
    /* margin-top: -2rem; */
    /* margin-right: 61rem; */

  }
}
