nav {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    margin-top: 2rem;
    /* background-color: #ABB8AF; */
    border-radius: 5px;
}

.nav-item {
    text-decoration: none;
    padding: 1rem;
}

.nav-item:first-child {
    margin-right: auto;
}

.logo > img {
    height: 27rem;
    border-radius: 50%;
    margin-top: 4rem;
    padding: 1rem;
}

a {  
    color:  white;
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
}
.food-item {
    padding: .5rem;
}