@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  background-color: #a9c6c2;
  font-family: 'Cormorant SC','Roboto',  serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
